.App {
    width: 600px;
    height: 1100px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #D9DAB0;
    border-radius: 5px;
    overflow: hidden;
}

.search-bar {
    height: 9%;
    background-color: #487E95;
    display: flex;
    align-items: center;
}

.search-bar form {
    width: 56%;
    height: 42%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#search-input {
    width: 66%;
    border: none;
    padding: 3%;
    font-size: 0.9em;
    border-radius: 5px;
}

#search-button {
    width: 25.5%;
    border: none;
    font-size: 1em;
    border-radius: 4px;
    color: #4C84AD;
    cursor: pointer;
    font-size: large;
}

#search-button:hover {
    transform: scale(1.04);
}

.contents {
    position: relative;
    height: 75%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.sprite {
    height: 29%;
    width: 39.875%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;    
    border-radius: 50%;
    overflow: hidden;
    border-style: solid;
    border-width: 8px;
    border-color: white;
    color: white;
    background-color: #23689B;
}

.sprite * {
    display: block;
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: x-large;
}

.fav {
    position: absolute;
    display: inline-block;
    width: 4%;
    top: 4%;
    left: 88%;
    color: rgb(223, 0, 0);
    font-size: x-large;
    cursor: pointer;
}

.fav:hover {
    transform: scale(1.10);
}

.name {
    width: auto;
    margin: 4.725% auto 2.2% auto;
    text-align: center;
}

.types {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
}

.types > li {
    display: inline-block;
    margin: 0.6%;
    background-color: #11D3B0;
    padding: 0.25% 0.725% 0.5% 0.725%;
    border-radius: 2px;
}

.moves {
    margin-top: 8.5%;
}

.move {
    width: 70%;
    border-radius: 4px;
    overflow: hidden;
    margin: 2.5% auto;
    background-color: #19456B;
    cursor: pointer;
}

.move-name {
    text-align: center;
    padding: 5%;
    color: white;
    font-weight: bold;
}

.move-details.open {
    display: block;
}

.move-details {
    display: none;
    padding: 3%;
    background-color: #005BB6;
    text-align: center;
    color: white;
}

.move-details p {
    margin: 2.5% auto;
}

.nav-bar {
    height: 11%;
    background-color: #487E95;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-bar .nav {
    width: 15%;
}

.nav-bar #nav-current {
    width: 65%;
    text-align: center;
    font-size: 1.4em;
}

.nav-bar button {
    display: block;
    padding: 16%;
    margin: auto;
    min-width: 60%;
    background-color: #23689B;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: large;
}

.nav-bar button:hover {
    background-color: #005BB6;
    transform: scale(1.04);
}
